h1
{
font-size:60px;
text-align:center;
text-shadow: 2px 2px;
}
p
{
text-align:center;
font-weight:bold;
font-size:20px;
}
h2
{
text-align:center;
font-size:30px;
font-style:itallic;
font-weight:bold;
}
a:link
{
color:blue;
}
a:visited
{
color:violet;
}
footer
{
text-align:center;
}