a:link, a:visited {
  background-color: #36cef4;
  color: white;
  padding: .75px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(62, 143, 235);
} 